.Header{
  background-color: rgb(84, 240, 217);
  width:300px;
  display: flex;
  gap: 15px;
  height: 50px;
  border-radius: 20px;
  margin-left: 50px;
}
.bond{
  background-color: red;
  font-size: small;
}